---
event_name: "General Body Meeting"
output_dir: "general/agendas"
meeting_type: "General Body Meeting"
---
# General Body Meeting Agenda for {{ month_name }} {{ day_ordinal }}, {{ year }}

# Roll Call
**In Person:**

**Online:**

**Guests:**

# General News

## Tech Updates

# Meetings, events and Interest Groups

# Treasurer Update

# Motions and Voting

# Reminders

# Pupporri

# Next meeting date
{% if next_meeting_date %}- Next General Meeting {{ next_meeting_weekday }}, {{ next_meeting_month_name }} {{ next_meeting_day_ordinal }}. 7:00pm{% endif %}

# How to join!
- We depend on your support! $100 a month; talk to the people in blue labcoats to inquire.
